.background {
  background-color: #e7eaec;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

.inputBlock {
  background-color: white;
  padding: 80px;
  width: 500px;
  border-radius: 10px;
  box-shadow: 0px 9px 28px rgb(206, 206, 206);
}
